sync-rl-extensions (0.0.0)
atari-py (0.1.1)
attrs (17.2.0)
autobahn (17.6.2)
Automat (0.6.0)
backports.ssl-match-hostname (3.5.0.1)
bleach (1.5.0)
certifi (2017.4.17)
chardet (3.0.4)
constantly (15.1.0)
cycler (0.10.0)
Cython (0.27.3)
decorator (4.0.11)
docker-py (1.10.3)
docker-pycreds (0.2.1)
doom-py (0.0.15)
entrypoints (0.2.3)
enum34 (1.1.6)
fastzbarlight (0.0.14)
funcsigs (1.0.2)
go-vncdriver (0.4.19)
gym (0.7.4.dev0)
gym-pull (0.1.6)
html5lib (0.9999999)
hyperlink (17.2.1)
idna (2.5)
imageio (2.1.2)
incremental (17.5.0)
ipaddress (1.0.18)
ipykernel (4.6.1)
ipython (6.2.1)
ipython-genutils (0.2.0)
ipywidgets (7.0.5)
jedi (0.11.0)
Jinja2 (2.10)
jsonschema (2.6.0)
jupyter (1.0.0)
jupyter-client (5.1.0)
jupyter-console (5.2.0)
jupyter-core (4.4.0)
Markdown (2.6.10)
MarkupSafe (1.0)
matplotlib (2.1.0)
mistune (0.8.1)
mock (2.0.0)
moviepy (0.2.3.2)
nbconvert (5.3.1)
nbformat (4.4.0)
networkx (2.0)
notebook (5.2.1)
numpy (1.13.3)
olefile (0.44)
pandocfilters (1.4.2)
parso (0.1.0)
pbr (3.1.1)
pexpect (4.3.0)
pickleshare (0.7.4)
Pillow (4.2.1)
pip (9.0.1)
pkg-resources (0.0.0)
ppaquette-gym-doom (0.0.3)
ppaquette-gym-super-mario (0.0.5)
prompt-toolkit (1.0.15)
protobuf (3.5.0.post1)
ptyprocess (0.5.2)
pyglet (1.2.4)
Pygments (2.2.0)
PyOpenGL (3.1.0)
pyparsing (2.2.0)
python-dateutil (2.6.1)
pytz (2017.3)
PyWavelets (0.5.2)
PyYAML (3.12)
pyzmq (16.0.3)
qtconsole (4.3.1)
requests (2.18.1)
scikit-image (0.13.1)
scipy (0.19.1)
setuptools (38.2.4)
simplegeneric (0.8.1)
six (1.11.0)
tensorflow (1.4.1)
tensorflow-tensorboard (0.4.0rc3)
terminado (0.7)
testpath (0.3.1)
tornado (4.5.2)
tqdm (4.11.2)
traitlets (4.3.2)
Twisted (17.5.0)
txaio (2.8.0)
ujson (1.35)
universe (0.21.2)
urllib3 (1.21.1)
wcwidth (0.1.7)
webencodings (0.5.1)
websocket-client (0.44.0)
Werkzeug (0.13)
wheel (0.30.0)
widgetsnbextension (3.0.8)
zope.interface (4.4.2)